{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('creations') }}
{% endblock %}

{% block content %}
    <h1>Nos créations</h1>
    <div class="creation-block">
        <div id="creations">
            
        </div>
    </div>
{% endblock %}