{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('creations_view') }}
{% endblock %}

{% block content %}
    <h1></h1>
    <div class="creation-block">

    </div>
{% endblock %}