@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Thin.ttf');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraLightItalic.ttf');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Italic.ttf');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Black.ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

*
{
    box-sizing: border-box;
    line-height: 24px;
}

html {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: #353431;
}

h1, h2, h3 {
    color: #EF7D19;
}

h1 {
    font-size: 2rem;
    line-height: 48px;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    line-height: 36px;
    font-weight: 700;
}

h3 {
    font-size: 1.25rem;
    line-height: 30px;
    font-weight: 600;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

a.btn:hover {
    text-decoration: none;
}

strong {
    font-weight: 700;
}

.btn {
    display: inline-block;
    background-color: #EF7D19;
    color: #FFFFFF;
    padding: 16px;
    border: none;
    border-radius: 16px;
    font-weight: 600;
    font-size: 1rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212F4F;
    color: #FFFFFF;
    height: 56px;
    padding: 0 16px;
    z-index: 5;
    width: 100%;
    position: fixed;
}

.header a {
    display: flex;
    align-items: center;
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-size: .8rem;
    margin-top: -33px;
}

.footer a {
    color: #FFFFFF;
}

.footer-informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #353431;
    padding-bottom: 48px;
    clip-path: polygon(0 32px, 100% 0, 100% 100%, 0 100%);
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    gap: 16px;
}

.footer-certifications-block {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.footer-certifications {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.footer-certifications img {
    height: 72px;
}

.footer-link {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 48px 0 32px 0;
    margin-top: -32px;
    width: 100%;
    background-color: #212F4F;
    clip-path: polygon(0 32px, 100% 0, 100% 100%, 0 100%);
}

.footer-sitemap {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer h2 {
    font-size: 1.4rem;
    font-weight: 700;
}

.footer-sitemap h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 8px 0;
}

.footer ul {
    display: flex;
    flex-direction: column;
    font-style: italic;
    gap: 8px;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 8px;
}

.footer-social a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-politic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .header {
        height: 80px;
        padding: 0 40px;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;
        height: 100%;
    }

    .footer {
        margin-top: -98px;
    }

    .footer-informations {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 96px 0 24px 0;
        clip-path: polygon(0 96px, 100% 0, 100% 100%, 0 100%);
    }

    .footer-us {
        margin-top: 24px;
    }

    .footer-link {
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 48px;
        margin-top: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .footer-certifications img {
        height: 80px;
    }

    .footer-sitemap {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        font-size: .8rem;
        gap: 40px;
        text-align: left;
    }

    .footer-social {
        padding-bottom: 0;
    }

    .footer-social img {
        width: 24px;
    }

    .footer-politic {
        flex-direction: row;
        gap: 8px;
    }

    .footer-politic span:not(:last-child):after {
        content: "-";
        margin-left: 8px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .footer-link {
        padding: 12px 140px;
    }

}