form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 16px;
}

.form-error
{
    display: block;
    width: 100%;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    padding: .375rem .75rem;
    margin: 16px 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
}

.form-row-2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 16px;
}

.row {
    text-align: left;
}

.form-required
{
    color: #EF7D19;
}

label {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 8px 16px;
    font-size: 16px;
}

textarea {
    width: 100%;
    height: 120px;
    resize: none;
    border: none;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 8px 16px;
    font-size: 16px;
}

input::placeholder, textarea::placeholder {
    color: #353535;
    font-style: italic;
    font-weight: 400;
    font-size: 0.7rem !important;
}

.form-info {
    text-align: left;
    margin: 4px 0 32px 0;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .form-content {
        gap: 32px;
    }

    .form-row-2 {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    input {
        padding: 8px 16px;
    }
}